{% extends "/shared/layout.twig" %}

{% block content %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img.staticbg.com/deals/edm/topic/5875-0514/ElephoneA4_180514_33.jpg" height="auto" width="100%">
                <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->

            </div>
        </div>
    </div>

    <div class="container marketing">

        <h1 style="text-align: center; color: #f0ad4e">WELCOME</h1>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img src="https://static.bhphoto.com/images/images1500x1500/1548762623_1455986.jpg" height="auto" width="100%">
                <h4 class="text-muted" style="margin-top:33px; margin-bottom: 33px">Desktops</h4>
                <p><a class="btn btn-outline-primary" href="\products\desktop" role="button">View all &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://static.bhphoto.com/images/images1500x1500/1523552217_1401175.jpg" height="auto" width="100%">
                <h4 class="text-muted" style="margin-top:33px; margin-bottom: 33px">Laptops</h4>
                <p><a class="btn btn-outline-primary" href="\products\laptop" role="button">View all &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://static.bhphoto.com/images/images1500x1500/1495758047_1320662.jpg" height="auto" width="100%">
                <h4 class="text-muted" style="margin-top:33px; margin-bottom: 33px">Printers</h4>
                <p><a class="btn btn-outline-primary" href="\products\printer" role="button">View all &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

{% endblock %}